---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "My Blog Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome To the Best Blog This Side of the Rockies</h2>
  <h3>Which Side is Up To YOUR Interpretation</h3>
</BaseLayout>